<head><link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta24/shoelace.css"></head>
<h1>Checkout list</h1>
<table class="table">
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Url</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </table>
  